
html,body{
  background-color: #F2F2F2;
  margin:0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:cornflowerblue;
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:#4DA6FF;
}
#banner{
  background-color:#0033A0;
  color:rgba(255, 255, 255, 0.5);
}
#footer{
  background-color:#0033A0;
  color:rgba(255, 255, 255, 0.473);
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 
.card{
  border-radius: 12px;
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  box-shadow: 2px 2px 2px blue;
  background-color: #F2F2F2;
}

.card2{
  color: #1A1A1A;
  border-radius: 12px;
  background-color: #7FE7DC;
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  box-shadow: 2px 2px 2px blue;
}

.highlight{
  font-style:italic;
  color:rgb(23, 126, 139);
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:#0033A0;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:cornflowerblue;
}
#output{
  flex-wrap:wrap;
}
.fit{
  width:150px;
  height:150px;
  object-fit:contain;
}

#leftPanel{
  flex:1;
}
#rightPanel{
  flex:2;
}
.fitted{
  max-width:200px;
  min-width:200px;
}
#result{
  background-color: yellow;
  color:red;
  max-width: 200px;
  font-size: 20px;
}



.scrollbar{
  background-color: #F2F2F2;
} 

.filtercard{
  border-radius: 12px;
  background-color: #7FE7DC;
}
body {
  background-color: grey;
}

.menuimage{
    width: 195%;
    height: 450px; /* fixed height */
    background-image: url("mainmenu.png");
    background-size: cover;      /* keeps image proportional */
    background-position: center; /* centers image */
    background-repeat: no-repeat;
    justify-content:center;
  align-items:center;
}

.infocard{
  background-color: #7FE7DC;
}


.infoimage{
  filter: blur(8px);
  
  transition: filter 0.3s ease, transform 0.3s ease; 
}

.infoimage:hover {
  filter: blur(0px);
  
  transform: scale(1.5); 
}